<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-input type="text" placeholder="input uesrid" [(ngModel)]="userinfo.username"></ion-input>
        <ion-input type="password" placeholder="input password" [(ngModel)]="userinfo.password"></ion-input>
        <ion-toolbar>
          <ion-label color="primary"> Remember me? </ion-label>
          <ion-toggle slot="end" checked></ion-toggle>
        </ion-toolbar>
        <ion-button expand="block" (click)="doLogin()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
